@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body,
html {
  max-width: 100vw;
  overflow-x: hidden;
}

#app {
  width: 100%;
  position: relative;

  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

@media (min-width: 1024px) {
  #app {
    display: block;
  }
}

.container {
  width: 100%;
  max-width: 1440px !important;
  margin: 0 auto;
}
